{% extends 'partials/base.html' %}
{% block content %}

{{m | safe}}
<form method="post">
    <h3>Instrucciones</h3>
    <ul style="padding-bottom: 30px; ">
        <li>En el caso que sólo se digite la ciudad de origen, se mostrará en pantalla los posibles destinos partiendo desde éste (si es que tiene vuelos hacia otras Capitales del Mundo).
            </li>
        <li>En el caso que digites origen y también destino, se mostrará en la pantalla el camino más corto para ir del uno al otro. Es decir, en caso de ser un vuelo directo, sólo mostrará la ruta desde la capital de origen a la capital destino; en caso contrario, buscará las escalas óptimas, para que el viaje sea más corto.
        </li>
        <li>IMPORTANTE: Se deben digitar las Ciudades Capitales en el idioma inglés y con mayúscula inicial (esto quiere decir que no se aceptan acentos, ni ninguna manera de escribir en otro idioma).</li>
        <li>En el caso que sólo se digite en el destino, el programa no funcionará.</li>
        <li>En el caso que se deseé ver el BFS, únicamente se tiene que digitar en la casilla correspondiente a BFS.</li>
        <li>En el caso que se deseé ver el DFS, únicamente se tiene que digitar en la casilla correspondiente a DFS.</li>
    </ul>
    {% csrf_token %}
    {{addCity.as_p}}
    <button onclick="document.location.reload()" style="background-color: black; height: 30px; padding-left: 20px;justify-content: center;">
        
        Accept
    </button>
    
    <p style="color: red; font-size: 15px;">Errores: </p>
    {{error}}
</form>

{% endblock %}