<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crimaca</title>

    <link rel="stylesheet" type="text/css" href="{% static '/Css/estilo.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <h1>CRIMACA <span>Tu web de vuelo favorita</span></h1>
    </header>


    <div class="navbg">
        <nav class="navegacionPrincipal">
            <a href="/">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="Mapa">Vuelos</a>
            <a href="#">Contacto</a>
        </nav>
    </div>
    <div class="mapa">
        {{m | safe}}
    </div>
    <p>Hola</p>
</body>

</html>